body{
    width: 200vh;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border: 1px solid #ffffff;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #22BDA1, #22BDBA);
    border-radius: 50px;
  }